<div class="container">
  <div class="row sinfo">
     <%= render 'devise/registrations/col' %>
<div class="col-lg-8">
<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>
<div class="panel panel-default">
<div class="panel-heading"><h2>Inscription </h2></div>
<div class="panel-body">
<div id="stripe_error" class="alert alert-error" style="display:none" >
</div>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' }) do |f| %>
<%= f.error_notification %>
  <legend>
  <h3>Créez votre compte </h3>
   </legend>
  <%= hidden_field_tag 'product', params[:product] %>
  <%= display_base_errors resource %>
   <div class="field">
   
  <%= f.text_field :name, :autofocus => true, class: "form-control", :placeholder => "Votre prénom "%>
  <br>
  <%= f.text_field :email, :required => true, class: "form-control", :placeholder => "Votre adresse e-mail" %>
  <br>
  <%= f.text_field :password, :required => true, class: "form-control",  :placeholder => "Votre mot de passe"  %>
  <br>
  <%= f.text_field :password_confirmation, :required => true, class: "form-control",  :placeholder => "Confirmation du mot de passe " %>
  <br>
  <%= f.text_field :coupon, :required => true, class: "form-control",  :placeholder => "Si vous avez un coupon de reduction, tapez-le ici" %>
    </div> 
  <% if @user.stripe_token %>
    <p>Credit card acceptance is pending.</p>
  <% else %>
  <legend>
     <br>
      <h3>Paiement sécurisé par carte bancaire</h3>
    </legend>
    <p class="lead">
      <strong><span class="price">
       <%= price_in_euro (@plan.amount) * 10 %>
      </span></strong>
    </p>
    <div class="cc-icons">
          <%= image_tag "cb.png" %>&nbsp;<%= image_tag "mastercard.png" %>&nbsp;<%= image_tag "am.png" %>&nbsp;<%= image_tag "visa.png" %>

    </div>
    <br>
    <div class="field">
      <%= text_field_tag :card_number, nil, name: nil, class: "form-control", :placeholder => "Numéro de carte"   %>
    </div>
      <br>
    <div class="field">
      <div class="form-inline">
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: "form-control"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year", class: "form-control"}%>
      <%= text_field_tag :card_code, nil, name: nil, class: "form-control form-ccv",  :placeholder => "CCV"   %>
    </div>

    </div>
 <br>
  <% end %>
  <%= f.hidden_field :stripe_token %>
  <%= f.submit "Valider", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
</div>
  <div class="panel-footer">En créant votre compte, vous acceptez l'intégralité de nos <%= link_to "Conditions générales de vente", thecgv_path %> ainsi que nos  <%= link_to "Conditions générales d'utilisation", thecgu_path %></div>
</div>
</div>
</div>



