<div class="container">

		  <div class="row row-centered">

			<br>
			<br>
			<h4>Ce que vous allez <b> apprendre</b>  à travers ce programme</h4>
			<br>
			<br>
			<br>
			<br>

		

<div class="col-xs-4 col-centered">

			<%= image_tag('logo_learnrails.png') %>
				<div class="sinfo">
				<p>Vous allez apprendre à installer l’environnement Ruby On Rails sur votre machine. Puis vous découvrirez comment créer une application, y ajouter des pages, des liens de navigations, des formulaires, un système d’authentification et bien d’autres. </p>
				</div>
			</div>


<div class="col-xs-4 col-centered">
<%= image_tag('learnrails.png') %>
			</div>

		</div><!-- /row -->
	</div><!-- container -->

	<div class="container">
		 <div class="row row-centered">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>


<div class="col-xs-4 col-centered">
<%= image_tag('learngit.png') %>
			</div>
<div class="col-xs-4 col-centered">


				<%= image_tag('logo_learngit.png') %>
				<div class="sinfo">
				<p>Vous allez apprendre à installer Git et y sauvegarder votre application. Vous découvrirez aussi comment connecter votre machine à github.com et y pousser votre code.</p>
				</div>
			</div>



			
		</div><!-- /row -->
	</div><!-- container -->

<div class="container">
		  <div class="row row-centered">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>




<div class="col-xs-4 col-centered">

				<%= image_tag('logo_learnheroku.png') %>
				<div class="sinfo">
				<p>Qu’est-ce que Heroku et comment ça fonctionne ? Vous verrez comment préparer votre application avant son déploiement. Puis vous propulserez cette dernière en ligne afin de la rendre visible par tous. </p>
				</div>
			</div>


<div class="col-xs-4 col-centered">
<%= image_tag('learnheroku.png') %>
			</div>

		</div><!-- /row -->
	</div><!-- container -->

	<div class="container">
		  <div class="row row-centered">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>



<div class="col-xs-4 col-centered">
<%= image_tag('learnbootstrap.png') %>
			</div>
<div class="col-xs-4 col-centered">


				<%= image_tag('logo_learnbootstrap.png') %>
				<div class="sinfo">
				<p>Comment installer Bootstrap ? Vous allez apprendre à utiliser bootstrap pour structurer l’apparence de votre application. Vous verrez aussi comment personnaliser votre application en quelques minutes de manière simple et rapide. </p>
				</div>
			</div>



			
		</div><!-- /row -->
	</div><!-- container -->

