<!-- Services Section -->
	<div class="container sinfo">
		<div class="row centered">
			<h4>Ce que vous allez <b> apprendre</b>  à travers <b> Première App</b> </h4>
			<br>
			Reproduire un site de type <%= image_tag "instagram.png" %> en utilisant ces outils :
			<br>
			<br>
			<br>
			<div class="col-lg-3">
				<p><%= image_tag "ruby.png" %></p>
				<p>Ruby on Rails</p>
				Qu’est-ce que Ruby On rails ? Comment ça fonctionne. 
			
			</div><!-- col-lg-3 -->
			
			<div class="col-lg-3">
				<p><%= image_tag "github.png" %></p>
				<p>Git & Github</p>
				Qu'est-ce-que Git ? Comment propulser la source de mon projet sur Github 
			
			</div><!-- col-lg-3 -->
			
			<div class="col-lg-3">
				<p><%= image_tag "heroku.png" %></p>
				<p>Heroku</p>
				Comment déployer mon application en ligne avec Heroku. 
				
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<p><%= image_tag "bootstrap.png" %></p>
				<p>Bootstrap</p>
				Comment utiliser bootstrap pour structurer l’apparence de mon application. 
		
			</div><!-- col-lg-3 -->
		
		</div><!-- /row -->
		<br>
		<hr>
	</div><!-- /container -->

