<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Apprenez à coder par vous même" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Apprenez à coder par vous même" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
        <% end %>
       
          <%= render 'layouts/navigation' %>

              <%= yield %>

              
          <script type="text/javascript">var _kmq = _kmq || [];
var _kmk = _kmk || '561ba43ec582dc875cf4220c4446988ce082fcbf';
function _kms(u){
  setTimeout(function(){
    var d = document, f = d.getElementsByTagName('script')[0],
    s = d.createElement('script');
    s.type = 'text/javascript'; s.async = true; s.src = u;
    f.parentNode.insertBefore(s, f);
  }, 1);
}
_kms('//i.kissmetrics.com/i.js');
_kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
  </body>
</html>
